.cartWidget{
    padding-right: 3rem;
    display: flex;
    align-items: center;
    p{
        background-color: antiquewhite;
        border-radius: 15px;
        width: 1.5rem; height: 1.5rem; 
        font-weight: 800;
    }
}