@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #70b9c6; }
  body h1 {
    font-family: "Quicksand";
    text-align: center; }
  body h2 {
    font-family: "Rubik";
    font-size: 1.3rem;
    font-weight: bolder; }
  body h3 {
    font-family: "Rubik";
    font-size: 0.9rem;
    text-align: center;
    font-weight: bolder;
    margin: 0; }
  body a {
    font-family: "Mali"; }
  body p {
    font-family: "Quicksand";
    text-align: center;
    margin: 0; }
  body button {
    font-family: "Rubik";
    border: none;
    background-color: #70b9c6;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 0.3rem;
    transition: 0.4s; }
    body button:hover {
      color: white;
      box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
      -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22); }

main {
  background-color: #f1f1f1;
  height: 100vh; }

.spinner {
  position: absolute;
  top: 50%;
  align-self: center;
  justify-self: center; }

header {
  background-color: #70b9c6;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0.5rem; }
  header .logoNavBar {
    padding-left: 3rem; }
    header .logoNavBar img {
      width: 260px; }
  header .navBarContainer {
    padding: 0; }
    header .navBarContainer .navBar {
      background-color: #70b9c6;
      width: auto; }
      header .navBarContainer .navBar a {
        color: #62442F;
        background-color: #70b9c6;
        margin-left: 2rem;
        margin-right: 2rem;
        text-decoration: none; }

.cartWidget {
  padding-right: 3rem;
  display: flex;
  align-items: center;
  width: 7rem; }
  .cartWidget a {
    color: #212529;
    transition: 0.5s; }
    .cartWidget a:hover {
      color: #212529; }
  .cartWidget p {
    background-color: antiquewhite;
    border-radius: 15px;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 800; }

.itemListContainer {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 5rem 2rem 5rem;
  height: auto;
  row-gap: 2rem; }

.item {
  background-color: white;
  width: 16rem;
  height: 20rem;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  border-radius: 10px;
  justify-items: center;
  box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22); }
  .item .itemImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem; }
    .item .itemImg img {
      width: 7rem; }
  .item .itemBtn {
    margin-top: 0.5rem;
    width: 6rem; }

.itemDetail {
  background-color: white;
  width: 60rem;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  border-radius: 10px;
  padding: 1rem; }
  .itemDetail .itemDetailImg {
    border-right: 1px solid gainsboro;
    display: grid;
    justify-content: center;
    align-items: center; }
  .itemDetail .itemDetailDescription {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .itemDetail .itemDetailDescription h3 {
      font-size: 1.2rem;
      padding-bottom: 0.5rem; }

.itemCount {
  width: 15rem;
  display: flex;
  flex-direction: column; }
  .itemCount .itemCountAdd {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0; }
    .itemCount .itemCountAdd button {
      width: 1.4rem;
      height: 1.4rem;
      padding: 0; }
  .itemCount .btnAñadir {
    margin-bottom: 1rem;
    align-self: center;
    width: 100%; }

.included {
  width: 15rem;
  padding: 1.5rem; }
  .included .includedBtn {
    display: grid;
    grid-row-gap: 1rem;
    padding-top: 1rem; }
    .included .includedBtn button {
      width: 100%; }

.itemDetailContainer {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center; }

main .yourCart {
  padding-top: 4rem; }

main .cart {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  column-gap: 7rem; }
  main .cart .cartEmpty {
    display: flex;
    flex-direction: column; }
    main .cart .cartEmpty button {
      margin-top: 2rem;
      width: 100%; }
  main .cart .cartList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-self: center;
    width: 50rem;
    padding: 1rem;
    margin: 0;
    border-bottom: 1px solid silver; }
    main .cart .cartList img {
      width: 4rem; }
    main .cart .cartList button {
      border-radius: 15px;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
      font-weight: bolder; }
  main .cart .cartTotal {
    padding-top: 2.5rem; }
    main .cart .cartTotal p {
      text-align: start;
      padding-bottom: 0.5rem; }
    main .cart .cartTotal h2 {
      border-bottom: 1px solid silver; }
  main .cart .btnClear {
    margin-top: 2rem;
    background-color: #ee5d5d; }
