@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body h3 {
  font-family: "Rubik";
  font-size: 0.9rem;
  text-align: center;
  font-weight: bolder; }

body a {
  font-family: "Mali"; }

body p {
  font-family: "Quicksand";
  text-align: center;
  margin: 0; }

body button {
  font-family: "Rubik";
  border: none;
  background-color: #70b9c6;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.3rem;
  transition: 0.4s; }
  body button:hover {
    color: white;
    box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
    -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
    -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22); }

.spinner {
  position: absolute;
  align-self: center;
  justify-self: center; }

header {
  background-color: #70b9c6;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0.5rem; }
  header .logoNavBar {
    padding-left: 3rem; }
    header .logoNavBar img {
      width: 260px; }
  header .navBarContainer {
    padding: 0; }
    header .navBarContainer .navBar {
      background-color: #70b9c6;
      width: auto; }
      header .navBarContainer .navBar a {
        color: #62442F;
        background-color: #70b9c6;
        margin-left: 2rem;
        margin-right: 2rem; }

.cartWidget {
  padding-right: 3rem;
  display: flex;
  align-items: center; }
  .cartWidget p {
    background-color: antiquewhite;
    border-radius: 15px;
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 800; }

main .itemListContainer {
  background-color: #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 2rem 5rem 2rem 5rem;
  height: 100vh; }

.item {
  background-color: white;
  width: 16rem;
  height: 20rem;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  border-radius: 10px;
  justify-items: center;
  box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22); }
  .item .itemImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem; }
    .item .itemImg img {
      width: 7rem; }
  .item button {
    margin-top: 0.5rem;
    width: 80%; }

.itemDetail {
  background-color: white;
  width: 50%;
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -webkit-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  -moz-box-shadow: 1px 1px 16px 2px rgba(34, 35, 37, 0.22);
  border-radius: 10px;
  padding: 1rem; }
  .itemDetail .itemDetailImg {
    display: flex;
    justify-content: center;
    border-right: 1px solid gainsboro; }
    .itemDetail .itemDetailImg img {
      width: 13rem; }
  .itemDetail .itemDetailDescription {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .itemDetail .itemDetailDescription h3 {
      font-size: 1.2rem; }

.itemCount {
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column; }
  .itemCount .itemCountAdd {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 2rem 0; }
    .itemCount .itemCountAdd button {
      width: 1.4rem;
      height: 1.4rem;
      padding: 0; }
  .itemCount .btnAñadir {
    margin-bottom: 1rem;
    align-self: center;
    width: 100%; }

.itemDetailContainer {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  padding-bottom: 10rem; }
