.footer{
    background-color: #70b9c6;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    img{
        width: 12rem;
    }
    p{
        font-size: 0.8rem;
    }
}