.itemCount{
    width: 15rem; 
    display: flex;
    flex-direction: column;
    .itemCountAdd{
        display: flex;
        justify-content: space-between;
        padding: 2rem 0 2rem 0;
        button{
            width: 1.4rem; height: 1.4rem;
            padding: 0;
        }
    }
    .btnAñadir{
        margin-bottom: 1rem;
        align-self: center;
        width: 100%;
    }
}
.included{
    width: 15rem;
    padding: 1.5rem;
    .includedBtn{
        display: grid;
        grid-row-gap: 1rem;
        padding-top: 1rem;
        button{
            width: 100%;
        }
    }
}
