*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body{
    h1{
        font-family: "Quicksand";
        text-align: center;
        margin: 0; padding: 0.5rem;
        background-color: #70b9c6;
        font-size: 1.5rem;
    }
    h2{
        font-family: "Rubik";
        font-size: 1.3rem;
        font-weight: bolder;
        text-align: center;
    }
    h3{
        font-family: "Rubik";
        font-size: 1rem;
        text-align: center;
        font-weight: bolder;
        padding-bottom: 0.5rem;
        margin: 0;
    }
    h4{
        font-family: "Rubik";
        font-size: 0.8rem;
        text-align: center;
        font-weight: bolder;
    }
    a{
        font-family: "Mali";
    }
    p{
        font-family: "Quicksand";
        text-align: center;
        margin: 0;
        font-size: 0.9rem;
    }
    button{
        font-family: "Rubik";
        border: none;
        background-color: #70b9c6;
        border-radius: 10px;
        font-size: 0.9rem;
        padding: 0.3rem;
        transition: 0.4s;
        &:hover{
            color: white;
            box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            -webkit-box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
            -moz-box-shadow: 1px 1px 16px 2px rgba(34,35,37,0.22);
        }
    }
    .carousel-indicators, .carousel-control-prev, .carousel-control-next{
        display: none;
    }
}
main{
    background-color: rgb(241, 241, 241);
    min-height: 80vh;
    height: 100%;
}
